.space-box {
    width: 392px;
    margin: 24px;
    /* box-shadow: 1px 1px 5px pink; */
    background: #323638;
    /* border-radius: 10px; */
    color: white;
    font-weight: 500;
}

.space-box img{
    width: 100%;
}

.space-name {
    text-align: center;
    padding: 8px;
}

.page-content-all-spaces{
    background-color:#fefefe;
    padding: 30px;
    height: 85%;
    overflow-y: scroll;
}

.search-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    height: 30px;
}

.search-container input {
    border: 1px solid #bcbebf;
    border-radius: 0px;
}

.search-container input:focus {
    width: 100%;
    outline: none;
}

.spaces{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}